.main{
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f3f4f6;
}

.content {
  background: #fff;
  padding: 40px;
  border-radius: 16px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.title {
  font-size: 28px;
  font-weight: 700;
  color: #1e3a8a;
  margin-bottom: 12px;
}

.login_btn, .signup_btn {
  background-color: #2563eb;
  color: white;
  font-size: 16px;
  font-weight: 500;
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.25s;
}

.login-btn:hover {
  background-color: #1d4ed8;
}
